html {
  --attention-gray: #9F9F9F;
  --standard-gray: #707070;
  --option-gray: #333333;
  --bg-gray: #0A0A0A;
  --neon-green: #3FF63B;
  --neon-blue: #3BCAF6;
  --neon-pink: #F63BEE;
  --neon-red: #F63B3B;
  --neon-yellow: #F6EE3B;
  --neon-orange: #F6953B;
  --radio-color: #3FF63B;

  height: 100%;
  width: 100%;
}

html, body {
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  position: relative;
  min-height: 100%;
  width: 100vw;
  margin: 0;
  
  color: var(--attention-gray);
  font-family: 'Montserrat';
  font-size: 16px;

  /* Monogram */
  background-color: var(--bg-gray);
  background-image: url(./DRCircle.png);
  background-repeat: no-repeat;
  background-blend-mode: color-dodge;
  background-size: 700px;
  background-position: center;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 8vh;
  background-color: rgba(7, 10, 17, .3);
  border-bottom: 1px solid var(--option-gray);
}

.navigation-container-wrapper {
  /* Center vertical/horizontal */
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.navigation-container {
  position: relative;
  height: 50vw;
  width: 50vw;
  max-height: 260px;
  max-width: 300px;
}

.button-bg {
  background: rgba(0, 0, 0, 0.35);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: solid 3px var(--option-gray);
  cursor: pointer;
}

.portfolio-button {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 64px;
  height: 64px;
  z-index: 1;
}

.portfolio-container {
  position: relative;
  top: 50%;
  width: 80vw;
  height: 64px;

  fill: var(--option-gray);

  transform: translateY(-132px);
}

.portfolio-button svg {
  position: relative;
  left: 50%;
  top: 50%;
  width: calc(32/666*100vw);
  height: calc(41/666*100vw);
  max-width: 32px;
  max-height: 41px;
  transform: translate(-50%, -50%);
}

.portfolio-button-container {
  position: relative;
}

.portfolio-slideout-container {
  position: relative;
  top: 50%;
  width: 30vw;
  max-width: 320px;
  height: 64px;
  left: 67px; /* 64px is size of button + 3 px for border */
  transform: translateY(-50%);
}

.portfolio-slideout {
  display: none;
  position: absolute;
  height: 10px;
  width: 100%;
  top: 50%;
  border: 3px solid var(--option-gray);
  border-left: none;
  border-radius: 0px 10px 10px 0px;
  background-color: rgba(0, 0, 0, 0.35);
  animation: slideoutAnimation 1s forwards 0s ease-out;
  transform: translate(0px, -50%);
}

@keyframes slideoutAnimation{
  0%{
    opacity: 0;
    width: 0;
  }
  100%{
    opacity: 1;
    width: 90%;
  }
}

/* Needs to be responsive */
.ffr-button {
  position: absolute;
  left: 5%;
  top: -23px;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.9);
}

/* Needs to be responsive */
.ffr-button svg {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 36px;
  max-height: 36px;
  fill: var(--option-gray);
  transform: translate(-48%, -50%);
}

/* Needs to be responsive */
.github-button {
  position: absolute;
  left: 30%;
  top: -23px;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.9);
}

/* Needs to be responsive */
.github-button svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-49%, -50%);
  fill: var(--option-gray);
  height: 36px;
  width: 36px;
}

.blog-button {
  position: absolute;
  left: -25%;
  top: calc(50% - 35px); /* -35px = -(half of height + 3px for border) */
  width: 64px;
  height: 64px;
  z-index: 1;
}

.blog-container {
  position: relative;
  height: 100%;
  width: 100%;

  fill: var(--option-gray);
}

.blog-container svg {
  position: absolute;
  left: 50%;
  top: 50%;
  width: calc(32/666*100vw);
  height: calc(41/666*100vw);
  max-width: 32px;
  max-height: 41px;
  transform: translate(-50%, -50%);
}

.contact-button {
  position: absolute;
  left: 0px;
  bottom: 0%;
  width: 64px;
  height: 64px;
  z-index: 1;
}

.contact-container {
  position: relative;
  width: 90vw;
  top: 50%;
  fill: var(--option-gray);
  transform: translateY(3vh);
}

.contact-button svg {
  position: relative;
  left: 50%;
  top: 50%;
  width: calc(43/666*100vw);
  height: calc(55/666*100vw);
  max-width: 43px;
  max-height: 55px;
  transform: translate(-50%, -50%);
}

.contact-button-container {
  position: relative;
}

.contact-slideout-container {
  position: relative;
  top: 50%;
  width: 30vw;
  max-width: 320px;
  height: 64px;
  left: 67px; /* 64px is size of button + 3 px for border */
}

.contact-slideout {
  display: none;
  position: absolute;
  height: 10px;
  width: 90%;
  left: 0px;
  top: 50%;
  border: 3px solid var(--option-gray);
  border-left: none;
  border-radius: 0px 10px 10px 0px;
  background-color: rgba(0, 0, 0, 0.35);
  animation: slideoutAnimation 1s forwards 0s ease-out;
  transform: translateY(-50%);
}

/* Needs to be responsive */
.email-button {
  position: absolute;
  left: 5%;
  top: -23px;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.9);
}

/* Needs to be responsive */
.email-button svg {
  position: absolute;
  left: 8px;
  top: 14px;
  width: 35px;
  height: 20px;
  fill: var(--option-gray);
}

/* Needs to be responsive */
.discord-button {
  position: absolute;
  left: 30%;
  top: -23px;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.9);
}

/* Needs to be responsive */
.discord-button svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-48%, -50%);
  fill: var(--option-gray);
  height: 34px;
  width: 34px;
}

.portfolio-button:hover svg path, .portfolio-button:hover, 
.ffr-button:hover svg path, .ffr-button:hover,
.github-button:hover svg path, .github-button:hover,
.blog-button:hover svg path, .blog-button:hover,
.contact-button:hover svg path, .contact-button:hover,
.email-button:hover svg path, .email-button:hover,
.discord-button:hover svg path, .discord-button:hover {
  fill: var(--attention-gray);
  stroke: none;
}

.portfolio-button:active svg path, .portfolio-button:active, 
.ffr-button:active svg path,
.github-button:active svg path,
.blog-button:active svg path, .blog-button:active,
.contact-button:active svg path, .contact-button:active,
.email-button:active svg path, .email-button:active,
.discord-button:active svg path, .discord-button:active {
  fill: white;
}

#portfolio:hover, .ffr-button:hover, .github-button:hover,
#blog:hover,
#contact:hover, .email-button:hover, .discord-button:hover {
  border: solid 3px var(--attention-gray);
}

#portfolio:active, .ffr-button:active, .github-button:active,
#blog:active,
#contact:active, .email-button:active, .discord-button:active {
  /* border: solid 3px var(--neon-green); */
  border: solid 3px var(--radio-color);
}

/* Custom Radio Buttons */
.radio-button-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin: 0px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio-button-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--option-gray);
  border-radius: 50%;
}

.radio-button-container:hover input ~ .checkmark {
  background-color: var(--attention-gray);
}

.radio-button-container input:checked ~ .checkmark {
  background-color: var(--radio-color);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-button-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-button-container .checkmark:after {
  top: 4px;
  left: 4px;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: var(--bg-gray);
}

.radio-container-wrapper {
  /* Center vertical/horizontal */
  position: absolute;
  margin: 0px;
  line-height: 0;
  top: 50%;
  left: 50%;
  height: calc(102/666*100vw);
  width: calc(300/666*100vw);
  max-height: 102px;
  max-width: 300px;
  transform: translate(-50%, -50%);
}

.radio-container {
  position: relative;
  display: inline-block;
  padding: 0px;
  margin: 0px;
  top: -8%;
  left: 10%;
  width: 50vw;
  max-width: 17em;
}

.radio-left-container {
  position: absolute;
  width: 16px;
  height: 4em;
  left: 0em;
  top: -1.7em;
}

.radio-left {
  font-size: 4em;
}

.radio-top-container {
  position: absolute;
  left: 1.2em;
  top: .6em;

  width: 280px;
  height: 1.5em;

  overflow: hidden;
}

.radio-top {
  position: absolute;
  font-size: 1.5em;
  top: -.5em;
}

.radio-bottom-container {
  position: absolute;
  left: 1.1em;
  top: 2em;

  width: 280px;
  height: 2.5em;
  
  overflow: hidden;
}

.radio-bottom {
  position: absolute;
  top: -.5em;
  font-size: 2em;
}

.radio-buttons-container {
  position: absolute;
  /* border: 1px solid #aaa; */
  height: 26px;
  width: 245px;
  top: 72px;
}

#radio-text0,
#radio-text4 {
  color: var(--neon-green);
}

#radio-text1,
#radio-text5 {
  color: var(--neon-orange);
}

#radio-text2,
#radio-text6 {
  color: var(--neon-yellow);
}

#radio-text3,
#radio-text7 {
  color: var(--neon-blue);
}

#radio0 {
  left: 5px;
}

#radio1 { 
  left: 35px;
}

#radio2 {
  left: 65px;
}

#radio3 {
  left: 95px;
}

#radio4 { 
  left: 125px;
}

#radio5 {
  left: 155px;
}

#radio6 {
  left: 185px;
}

#radio7 { 
  left: 215px;
}

@keyframes textSlideAwayAnimation {
  0% {
    transform: translateX(0px);
    opacity: 1;
    color: var(--neon-green);
  }
  100% {
    transform: scale(.5) translateX(1500px);
    opacity: 0;
    color: #FFFFFF;
  }
}

@keyframes textSlideInAnimation {
  0% {
    transform: translateX(-300px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes topSlideAwayAnimation {
  0% { 
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes topSlideInAnimation {
  0% {
    transform: translateX(-300px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

/* Mobile Portrait */
@media only screen and (max-width: 400px) and (orientation: portrait) {
  body {
    font-size: 16px;
  
    /* Monogram */
    background-size: 68.359%;
  }

  .radio-container-wrapper {
    /* Center vertical/horizontal */
    top: 5vh;
    left: 50%;
    height: calc(102/666*100vw);
    width: calc(600/666*100vw);
    max-height: 102px;
    max-width: 300px;
    transform: translateX(-50%);
  }

  .navigation-container-wrapper {
    /* Center vertical/horizontal */
    position: absolute;
    margin: 0;
    top: 145px;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
  }

  .navigation-container {
    position: relative;
    height: 70vw;
    width: 80vw;
    max-height: 260px;
    max-width: 300px;
  }

  .button-bg {
    width: calc(100/666*100vw);
    height: calc(100/666*100vw);
    border: solid calc(3/666*100vw) var(--option-gray);
  }

  #portfolio:hover, .ffr-button:hover, .github-button:hover,
  #blog:hover,
  #contact:hover, .email-button:hover, .discord-button:hover {
    border: solid calc(3/666*100vw) var(--attention-gray);
  }
  
  #portfolio:active, .ffr-button:active, .github-button:active,
  #blog:active,
  #contact:active, .email-button:active, .discord-button:active {
    border: solid calc(3/666*100vw) var(--radio-color);
  }

  .portfolio-container {
    position: relative;
    left: 0px; 
    top: 0px;
    width: calc(128/666*100vw);
    height: calc(128/666*100vw);
    max-width: 64px;
    max-height: 64px;
    transform: none;
  }

  .portfolio-button-container {
    position: relative;
    width: 100%;
    height: 64px;
  }

  .portfolio-button {
    top: 0px;
    left: 0%;
    width: calc(128/666*100vw);
    height: calc(128/666*100vw);
    max-width: 64px;
    max-height: 64px;
  }

  .portfolio-container svg {
    position: absolute;
    left: 50%;
    top: 50%;
    width: calc(64/666*100vw);
    height: calc(82/666*100vw);
    max-width: 32px;
    max-height: 41px;
    transform: translate(-50%, -50%);
  }

  .portfolio-slideout-container {
    position: absolute;
    top: 0px;
    width: 64px;
    height: 50vh;
    max-height: 320px;
    top: 67px; /* 64px is size of button + 3 px for border */ 
    transform: translateX(-100%);
  }

  .portfolio-slideout {
    position: absolute;
    height: 100%; 
    max-height: 50vh;
    width: calc(10/666*100vw);
    max-width: 10px;
    left: 50%;
    top: 0px;
    border: 3px solid var(--option-gray);
    border-radius: 0px 0px calc(10/666*100vw) calc(10/666*100vw);
    border-top: none;
    transform: translateX(-50%);
  }

  .ffr-button {
    left: 3px;
    top: 5%;
    width: 50px;
    height: 50px;
    transform: translateX(-50%);
  }

  .ffr-button svg {
    left: 50%;
    top: 50%;
    height: 36px;
    transform: translate(-50%, -50%);
  }
  
  .github-button {
    left: 3px;
    top: 40%;
    width: 50px;
    height: 50px;
    transform: translateX(-50%);
  }
  
  .github-button svg {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 36px;
    width: 36px;
  }

  .blog-container {
    position: absolute;
    left: 50%; 
    top: 50%;
    width: calc(128/666*100vw);
    height: calc(128/666*100vw);
    max-width: 64px;
    max-height: 64px;
    transform: translate(-50%, -50%);
  }

  .blog-button-container {
    position: absolute;
    left: 50%;
    top: 0%;
    width: 64px;
    height: 64px;
    transform: translateX(-50%);
  }

  .blog-button {
    top: 0px;
    left: 50%;
    width: calc(128/666*100vw);
    height: calc(128/666*100vw);
    max-width: 64px;
    max-height: 64px;
    transform: translateX(-50%);
  }

  .blog-container svg {
    position: absolute;
    left: 50%;
    top: 50%;
    width: calc(64/666*100vw);
    height: calc(82/666*100vw);
    max-width: 32px;
    max-height: 41px;
    transform: translate(-50%, -50%);
  }

  .contact-container {
    position: absolute;
    left: 100%; 
    top: 0%;
    width: calc(128/666*100vw);
    height: calc(128/666*100vw);
    max-width: 64px;
    max-height: 64px;
    transform: translateX(-100%);
  }

  .contact-button {
    top: 0px;
    left: 0px;
    width: calc(128/666*100vw);
    height: calc(128/666*100vw);
    max-width: 64px;
    max-height: 64px;
    /* transform: translateX(-50%); */
  }

  .contact-container svg {
    position: absolute;
    left: 50%;
    top: 50%;
    width: calc(86/666*100vw);
    height: calc(110/666*100vw);
    max-width: 41px;
    max-height: 55px;
    transform: translate(-50%, -50%);
  }

  .contact-slideout-container {
    position: absolute;
    top: 0px;
    width: 64px;
    height: 50vh;
    max-height: 320px;
    top: 67px; /* 64px is size of button + 3 px for border */ 
    transform: translateX(-100%);
  }

  .contact-slideout {
    position: absolute;
    height: 100%; 
    max-height: 50vh;
    width: calc(10/666*100vw);
    max-width: 10px;
    left: 50%;
    top: 0px;
    border: 3px solid var(--option-gray);
    border-radius: 0px 0px calc(10/666*100vw) calc(10/666*100vw);
    border-top: none;
    transform: translateX(-50%);
  }

  .email-button {
    left: 3px;
    top: 5%;
    width: 50px;
    height: 50px;
    transform: translateX(-50%);
  }
  
  .email-button svg {
    left: 50%;
    top: 50%;
    width: 35px;
    height: 20px;
    transform: translate(-50%, -50%);
  }
  
  /* Needs to be responsive */
  .discord-button {
    left: 3px;
    top: 40%;
    width: 50px;
    height: 50px;
    transform: translateX(-50%);
  }
  
  .discord-button svg {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 34px;
    width: 34px;
  }

  @keyframes slideoutAnimation{
    0%{
      opacity: 0;
      height: 0;
    }
    100%{
      opacity: 1;
      height: 50vh;
    }
  }
}