html {
  --attention-gray: #9F9F9F;
  --standard-gray: #707070;
  --option-gray: #333333;
  --bg-gray: #0F0F0F;
  --neon-green: #3FF63B;
  --neon-blue: #3BF6EA;
  --neon-pink: #F63BEE;
  --neon-red: #F63B3B;
  --neon-yellow: #F6EE3B;
  --neon-orange: #F6953B;

  height: 100%;
  width: 100%;
}

body {
  position: relative;
  min-height: 100%;
  width: 100%;
  margin: 0;
  
  color: var(--attention-gray);
  font-family: 'Montserrat';
  font-size: 16px;

  /* Monogram */
  background-color: var(--bg-gray);
  background-image: url(https://imagizer.imageshack.com/v2/xq90/924/ebaadZ.png);
  background-repeat: no-repeat;
  background-blend-mode: screen;
  background-size: 700px;
  background-position: center;
}

.main-wrapper {
  min-height: 100%;
  height: 100vh;
  min-width: 100%;
  width: 100vw;
  background-color: rgba(0, 0, 0, .84);
}

.navigation-container-wrapper {
  /* Center vertical/horizontal */
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.navigation-container {
  position: relative;
  height: 50vw;
  width: 50vw;
  max-height: 260px;
  max-width: 300px;
}

.button-bg {
  background: rgba(0, 0, 0, 0.35);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: solid 3px var(--option-gray);
}

.portfolio-button {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 64px;
  height: 64px;
  z-index: 1;
}

.portfolio-container {
  position: relative;
  left: 16px; 
  top: 10px;
  width: 64px;
  height: 64px;

  fill: var(--option-gray);
}

.portfolio-container svg {
  width: calc(32/600*100vw);
  height: calc(41/600*100vw);
  max-width: 32px;
  max-height: 41px;
}

.blog-button {
  position: absolute;
  left: -25%;
  top: calc(50% - 35px); /* -35px = -(half of height + 3px for border) */
  width: 64px;
  height: 64px;
  z-index: 1;
}

.blog-container {
  position: relative;
  left: 18px;
  top: 10px;

  fill: var(--option-gray);
}

.blog-container svg {
  width: calc(32/600*100vw);
  height: calc(41/600*100vw);
  max-width: 32px;
  max-height: 41px;
}

.contact-button {
  position: absolute;
  left: 0px;
  bottom: 0%;
  width: 64px;
  height: 64px;
  z-index: 1;
}

.contact-container {
  position: relative;
  left: 10px;
  top: 5px;

  fill: var(--option-gray);
}

.contact-container svg {
  width: calc(43/600*100vw);
  height: calc(55/600*100vw);
  max-width: 43px;
  max-height: 55px;
}

.portfolio-button:hover svg path, .portfolio-button:hover,
.blog-button:hover svg path, .blog-button:hover,
.contact-button:hover svg path, .contact-button:hover {
  fill: var(--attention-gray);
}

.portfolio-button:active svg path, .portfolio-button:active,
.blog-button:active svg path, .blog-button:active,
.contact-button:active svg path, .contact-button:active {
  fill: white;
}

#portfolio:hover,
#blog:hover,
#contact:hover {
  border: solid 3px var(--attention-gray);
}

#portfolio:active,
#blog:active,
#contact:active {
  border: solid 3px var(--neon-green);
}

/* Custom Radio Buttons */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin: 0px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--option-gray);
  border-radius: 50%;
}

.container:hover input ~ .checkmark {
  background-color: var(--attention-gray);
}

.container input:checked ~ .checkmark {
  background-color: var(--neon-green);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 4px;
  left: 4px;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: var(--bg-gray);
}

.radio-container-wrapper {
  /* Center vertical/horizontal */
  position: absolute;
  margin: 0px;
  line-height: 0;
  top: 50%;
  left: 50%;
  height: calc(102/600*100vw);
  width: calc(300/600*100vw);
  max-height: 102px;
  max-width: 300px;
  transform: translate(-50%, -50%);
}

.radio-container {
  position: relative;
  display: inline-block;
  padding: 0px;
  margin: 0px;
  top: -8%;
  left: 10%;
  width: 50vw;
  max-width: 17em;
}

.radio-left {
  position: absolute;
  left: 0em;
  top: -.45em;
  font-size: 4em;
}

.radio-top {
  position: absolute;
  left: .8em;
  top: -.15em;
  font-size: 1.5em
}

.radio-bottom {
  position: absolute;
  left: .57em;
  top: .45em;
  font-size: 2em;
}

#radio-text-david,
#radio-text-design {
  color: var(--neon-green);
}

#radio-text-dev,
#radio-text-teaching {
  color: var(--neon-orange);
}

#radio-text-entre,
#radio-text-motorcycles {
  color: var(--neon-yellow);
}

#radio-text-code,
#radio-text-gaming {
  color: var(--neon-blue);
}

#radio1 {
  top: 72px; 
  left: 5px;
}

#radio2 {
  top: 72px; 
  left: 35px;
}

#radio3 {
  top: 72px; 
  left: 65px;
}

#radio4 {
  top: 72px; 
  left: 95px;
}

#radio5 {
  top: 72px; 
  left: 125px;
}

#radio6 {
  top: 72px; 
  left: 155px;
}

#radio7 {
  top: 72px; 
  left: 185px;
}

#radio8 {
  top: 72px; 
  left: 215px;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 16px;
    background-size: auto;
    background-blend-mode: color-dodge;
  }

  .main-wrapper {
    min-height: 100%;
    height: 100vh;
    min-width: 100%;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0);
  }

  .button-bg {
    border: solid calc(3/600*100vw) var(--option-gray);
  }

  .navigation-container-wrapper {
    height: calc(260/600*100vw);
  }

  .portfolio-button {
    left: 3vw;
    top: 0vw;
    width: 10.7vw;
    height: 10.7vw;
    max-width: 64px;
    max-height: 64px;
    -ms-transform: translate(calc(-19/600*100vw), 0vh);
    transform: translate(calc(-19/600*100vw), 0vh);
  }

  .portfolio-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 10.7vw;
    height: 10.7vw;
    transform: translate(calc(16/600*100vw), calc(12/600*100vw));
  }

  .blog-button {
    left: -12.5vw;
    top: 16vw;
    width: 10.7vw;
    height: 10.7vw;
    max-width: 64px;
    max-height: 64px;
  }

  .blog-container {
    left: calc(18/600*100vw);
    top: calc(10/600*100vw);
  }

  .contact-button {
    left: 3vw;
    top: 32vw;
    width: 10.7vw;
    height: 10.7vw;
    max-width: 64px;
    max-height: 64px;
    -ms-transform: translate(calc(-19/600*100vw), 0vh);
    transform: translate(calc(-19/600*100vw), 0vh);
  }

  .contact-container {
    left: calc(10/600*100vw);
    top: calc(5/600*100vw);
  }

  #portfolio:hover,
  #blog:hover,
  #contact:hover {
    border: solid calc(3/600*100vw) var(--attention-gray);
  }

  #portfolio:active,
  #blog:active,
  #contact:active {
    border: solid calc(3/600*100vw) var(--neon-green);
  }

  /* Custom Radio Buttons */
  .container {
    padding-left: calc(35/600*100vw);
    font-size: calc(22/600*100vw);
  }

  /* Create a custom radio button */
  .checkmark {
    height: calc(25/600*100vw);
    width: calc(25/600*100vw);
  }

  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
    top: calc(4/600*100vw);
    left: calc(4/600*100vw);
    width: calc(17/600*100vw);
    height: calc(17/600*100vw);
    border-radius: 50%;
    background: var(--bg-gray);
  }

  .radio-left {
    font-size: calc(64/600*100vw);
  }

  .radio-top {
    font-size: calc(24/600*100vw);
  }

  .radio-bottom {
    font-size: calc(32/600*100vw);
  }
  
  #radio1 {
    top: calc(72/600*100vw);
    left: calc(5/600*100vw);
  }

  #radio2 {
    top: calc(72/600*100vw);
    left: calc(35/600*100vw);
  }

  #radio3 {
    top: calc(72/600*100vw);
    left: calc(65/600*100vw);
  }

  #radio4 {
    top: calc(72/600*100vw);
    left: calc(95/600*100vw);
  }

  #radio5 {
    top: calc(72/600*100vw);
    left: calc(125/600*100vw);
  }

  #radio6 {
    top: calc(72/600*100vw);
    left: calc(155/600*100vw);
  }

  #radio7 {
    top: calc(72/600*100vw);
    left: calc(185/600*100vw);
  }

  #radio8 {
    top: calc(72/600*100vw);
    left: calc(215/600*100vw);
  }
}