/*
  Colors:
    #707070 Standard Gray
    #3FF63B Neon Green
    #3BF6EA Neon Blue
    #F63BEE Neon Pink
    #F63B3B Neon Red
    #F6EE3B Neon Yellow
    #F6953B Neon Orange
*/

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
  
  color: #9F9F9F;
  font-family: 'Montserrat';
  font-size: 16px;

  /* Monogram */
  background-color: #0F0F0F;
  background-image: url(https://imagizer.imageshack.com/v2/xq90/924/ebaadZ.png);
  background-repeat: no-repeat;
  background-blend-mode: color-dodge;
  background-size: 40%;
  background-position: center;
}

.navigation-container-wrapper {
  /* Center vertical/horizontal */
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.button-bg {
  background: rgba(0, 0, 0, 0.35);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: solid 3px #333333;
}

.portfolio-button {
  position: absolute;
  left: -150px;
  top: -110px;
  width: 64px;
  height: 64px;
  transform: translate(-19px, -13px);
}

.blog-button {
  position: absolute;
  left: -150px;
  top: -110px;
  width: 64px;
  height: 64px;
  transform: translate(-90px, 85px);
}

.contact-button {
  position: absolute;
  left: -150px;
  top: -110px;
  width: 64px;
  height: 64px;
  transform: translate(-19px, 192px);
}

.navigation-container {
  position: absolute;
}

.portfolio-button:hover svg path, .portfolio-button:hover,
.blog-button:hover svg path, .blog-button:hover,
.contact-button:hover svg path, .contact-button:hover,
.portfolio-container:hover svg path, .portfolio-container:hover,
.blog-container:hover svg path, .blog-container:hover,
.contact-container:hover svg path, .contact-container:hover {
  fill: #9F9F9F;
}

#portfolio:hover,
#blog:hover,
#contact:hover {
  border: solid 3px #9F9F9F;
}

.portfolio-container {
  position: absolute;
  left: 16px;
  top: 10px;
  width: 64px;
  height: 64px;

  fill: #333333;
}

.blog-container {
  position: absolute;
  left: 18px;
  top: 10px;

  fill: #333333;
}

.contact-container {
  position: absolute;
  left: 10px;
  top: 5px;

  fill: #333333;
}

/* Custom Radio Buttons */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  /* margin-bottom: 12px; */
  margin: 0px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #333333;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #9F9F9F;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #3FF63B;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 4px;
	left: 4px;
	width: 17px;
	height: 17px;
	border-radius: 50%;
	background: #0F0F0F;
}

.radio-container-wrapper {
  /* Center vertical/horizontal */
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.radio-container {
  position: relative;
  display: inline-block;
  width: 17em;
  height: 5em;
}

.radio-left {
  position: absolute;
  left: 0em;
  top: -1em;
  font-size: 64px;

  /* border: solid 1px #0FF; */
}

.radio-top {
  position: absolute;
  left: .8em;
  top: -.6em;
  font-size: 24px;

  /* border: solid 1px #F0F; */
}

.radio-bottom {
  position: absolute;
  left: .57em;
  top: -.05em;
  font-size: 32px;

  /* border: solid 1px #FF0; */
}

#radio-text-david,
#radio-text-design {
  color: #3FF63B;
}

#radio-text-dev,
#radio-text-teaching {
  color: #F6953B;
}

#radio-text-entre,
#radio-text-motorcycles {
  color: #F6EE3B;
}

#radio-text-code,
#radio-text-gaming {
  color: #3BF6EA;
}